.App {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.left-pane, .right-pane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.left-pane {
  background: #f0f0f0;
  position: relative;
  min-width: 10%;
}

.right-pane {
  background: #e0e0e0;
  flex-grow: 1;
}

header, footer {
  flex: 0 1 auto;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
  overflow-y: auto;
}

.resizer {
  background: #ccc;
  position: relative;
  z-index: 1;
}

.resizer.vertical {
  width: 5px;
  cursor: ew-resize;
}

.resizer.horizontal {
  height: 5px;
  cursor: ns-resize;
}

.header {
  overflow: hidden;
}

.footer {
  overflow: hidden;
}
